/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Merriweather Sans);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body
{
    font-size:18px;
    font-family:"Merriweather Sans","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    color:#000000;
    background-color:#f1f3ec;
}
*
{
    padding:0;
    margin: 0;
    border:none;
    outline:none;
}
a
{
    color:#323031;
    text-decoration:none;
}
a:hover
{
    color:#848a91;
    text-decoration:underline;
}
hr
{
    margin:1em 0;
    border-top:1px 
    dashed #848a91;
    border-bottom:1px 
    dashed #848a91;
}
p
{
    padding:.5em 0;
}
li
{
    padding:.2em 0;
}
ol,ul
{
    list-style-position:inside;
}
ol ul, ul ol, ul ul, ol ol 
{
    margin-left:1em;
}
pre code
{
    margin:1em 0;
    font-size:15px;
    line-height:1.6;
    display:block;
    overflow:auto;
}
blockquote
{
    display:block;
    text-align:justify;
    border-left:4px solid #c8d0d3;
}
blockquote
{
    margin:1em 0em;
    padding-left:1.5em;
}
blockquote p
{
    margin:0;
    padding:.5em 0;
}
#container
{
    width:600px;
    margin:2em auto;
    display:block;
    padding:0 2em;
}
.content
{
    font-size:16px;
    line-height:24px;
}
.content h1
{
    padding:.5em 0;
}
.content a
{
    text-decoration:none;
}
.content img
{
    max-width:600px;
    display:block;
    margin:4px auto;
    -webkit-box-shadow:#999 1px 1px 4px;
    -moz-box-shadow:#999 1px 1px 4px;
    box-shadow:#999 1px 1px 4px;
}
.listing-item,.listing-seperator
{list-style-type:none;}
.listing-item a
{padding:.2em 1em;}
.listing-item time
{color:#999999;}
.listing-seperator
{font-weight:bold;}
.meta
{
    text-align:right;
    font-size:14px;
}
header
{
    padding:.5em 0;
    border-bottom: 1px solid #323031;
    font-size: 30px
}
nav
{
    font-family:"Electrolize",Microsoft Yahei,sans-serif;
    text-transform:uppercase;
    margin-left:-12em;
    margin-right:-12em;
    width:10em;
    text-align:center;
}
nav a
{
    display:block;
    padding:.7em 1em;
    color:#323031;
    font-weight: 900;
    text-decoration:none;
}
nav a:hover
{
    background-color:#c8d0d3;
    text-decoration:none;
    color:#323031;
    -webkit-transition:color .2s linear;
}
a.post 
{
    padding:.5em 0em;
    text-decoration:underline;
}
h1
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:30px;
    color:#000;
}
h2
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:15px;
    color:#222;
}
h3
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:13px;
    color:#444;
}
h4
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:11px;
    color:#888;
}
pre,code
{
    font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;
    font-size:14px;
}
code
{background-color:#848a91;}
embed,object,iframe
{
    display:block;
    margin:4px auto;
}
.gist
{
    font-size: 14px;
    line-height:1.6;
}
#footer { 
 	font-size:11px;
}
